Package: ubiquity-slideshow-netrunner
Version: 58.1
Architecture: all
Maintainer: Ubiquity Slideshow Team <ubiquity-slideshow@lists.launchpad.net>
Installed-Size: 1525
Conflicts: ubiquity-slideshow
Replaces: ubiquity-slideshow
Provides: ubiquity-slideshow
Section: x11
Priority: optional
Homepage: https://launchpad.net/ubiquity-slideshow-ubuntu
Description: Ubiquity slideshow for Ubuntu
 A slideshow intended for the Ubiquity installer, designed as a quick
 introduction to Netrunner.
